:root{
    --text:#999;
    --background:#000;
    --text_alt:#666;
    --background_alt:#222;
    --text_neu:#888;
    --background_neu:#333;
    --border:#555;
    --highlight:#ff9;
    --link:#2b73b7;
    --background_site:#040302;
    --existing:#060;
    --missing:#900;
    --site_width:75em;
    --sidebar_width:16em;
    --tablet_width:800px;
    --phone_width:480px;
    --theme_color:#008800;
}