:root {
    --text: #999;
    --background: #000;
    --text_alt: #666;
    --background_alt: #222;
    --text_neu: #888;
    --background_neu: #333;
    --border: #555;
    --highlight: #ff9;
    --link: #ff753f;
    --background_site: #040302;
    --existing: #ff753f;
    --missing: #900;
    --theme_color: #ff753f;
}