:root {
    --text: #333;
    --background: #fff;
    --text_alt: #999;
    --background_alt: #eee;
    --text_neu: #666;
    --background_neu: #ddd;
    --border: #ccc;
    --highlight: #ff9;
    --link: #ff753f;
    --background_site: #fbfaf9;
    --existing: #ff753f;
    --missing: #d30;
    --theme_color: #ff753f;
}